<!--Project Harshbir Singh Student ID: 301276594-->

<%- include('partials/header.ejs')%>
<%- include('partials/main_nav.ejs')%>

<!--Main Content-->
<div class="container mt-5">
  <div class="row">
    <h2>Hello!, Welcome to my <%= title%> page.</h2>
    <p class="lead">
      My name is Harshbir Singh. I am a software developing student.<br>
      My goal is to provide Webdevelopment services to clients.
      Click on the link below to know more about me
    </p>
    <a class="btn btn-primary mx-2" style="max-width: fit-content" href="/about" role="button">About me</a>
  </div>
<div class="container text-center mt-5">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          <h4>Back-End</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Html</li>
          <li class="list-group-item">Css</li>
          <li class="list-group-item">Angular</li>
          <li class="list-group-item">React</li>
          <li class="list-group-item">Javascript</li>
        </ul>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          <h4>Back-End</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">C#</li>
          <li class="list-group-item">JAVA</li>
          <li class="list-group-item">SQL</li>
          <li class="list-group-item">Python</li>
          <li class="list-group-item">C++</li>
        </ul>
      </div>
    </div>
  </div>

  </div>
</div>



<%- include('partials/bottom_nav.ejs')%>
<%- include('partials/footer.ejs')%>

















